<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd"
    >
    
    <bean id="shapeService"  class="com.abhishek.processors.ShapeService"  autowire="byName" />
    <bean id="triangle"    class="com.abhishek.models.Triangle" init-method="myInit" destroy-method="myDestroy" >
    	<property name="points" >
    	    <list>
    	    <ref bean="point1" />
    			<ref bean="point2" />
    			<ref bean="point3" />
    		</list>
    	</property>

    </bean>
    
    <aop:aspectj-autoproxy/>
    <aop:config proxy-target-class = "true" />
    
    <context:annotation-config/>
    
    <context:component-scan base-package="com.abhishek" />
    <bean name="jdbcTest"  class="com.abhishek.db.TestJdbc" />
    
   <bean name="loggingAspect"  class="com.abhishek.aop.LoggingAspect" />
    
   <bean id="point1"  class="com.abhishek.models.Point">
   	    <qualifier value="cirlceRelated" />
    	<property name="pointX" value="${pointX}" />
    	<property name="pointY" value="${pointY}" />
    </bean>
    
    <bean id="point2"  class="com.abhishek.models.Point"   >
    	<property name="pointX" value="-20" />
    	<property name="pointY" value="0" />
    </bean>
    <bean id="point3"  class="com.abhishek.models.Point"  >
    	<property name="pointX" value="0" />
    	<property name="pointY" value="20" />
    </bean>
    <alias name="pnt2" alias="pt2" />
 
 
    <bean class="com.abhishek.processors.MyBeanPostProcessor" />
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
    
    <bean class="com.abhishek.processors.MyBeanFactoryPP" />
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >
    	<property name="locations" value="classpath:./com/abhishek/processors/pointsconfig.properties" />
    </bean>
    
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource" >
      <property name="basenames">
        <list>
          <value>my-messages-file </value>
       
        </list>
      </property>
    </bean>
    
    <aop:config >
       <aop:aspect id="logAspect" ref="loggingAspect" >
          <aop:pointcut expression="within(com.abhishek.models.Circle)" id="allCircleMethods"/>
          <aop:around pointcut-ref="allCircleMethods"  method="LoggingAdviceAround"/>
          
          <aop:after-returning method="LoggingAdviceAfterReturning" returning="name" pointcut="execution(*  set*(*)) and within(com.abhishek.models.Circle)" />  
          <aop:after-throwing method="LoggingAdviceAfterThrowing" throwing="ex" pointcut-ref="allCircleMethods" />  
       </aop:aspect>
    </aop:config>
    
    <bean id="testJdbc" class="com.abhishek.db.TestJdbc" >

    </bean>
 
    
    <bean id="datasource" class="org.apache.commons.dbcp.BasicDataSource">
    	<property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
    	<property name="url" value="jdbc:mysql://localhost:3307/rautlibrary?useSSL=false" />
    	<property name="username" value="root" />
		<property name="password" value="Password123" />
        <property name="initialSize" value="2" />
		<property name="maxActive" value="5" />	
    	
    </bean>
    
    <bean id="simpleJdbcDAOImpl" class="com.abhishek.db.SimpleJdbcDAOImpl" >
		<property name="dataSource" ref="datasource" />
    </bean>
</beans> 